* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
  letter-spacing: 0.5px;
}

main {
  background: #eee;
  border-radius: 15px;
  margin: 3rem 0.5rem;
  text-align: center;
}

main h1 {
  padding: 2rem 0;
}

main h3 {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0 1rem 2rem 1rem;
}

#timeline {
  padding: 40px 20px;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

#timeline h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#timeline ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

p {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 2rem 10px;
}

a {
  color: blue;
}

#img-div {
  width: 100%;
  padding: 40px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#image {
  max-width: 100%;
  width: 800px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  p {
    font-size: 1rem;
  }

  #img-div {
    padding: 10px;
  }
}
